@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Video Game App</h1>
    <p>Go to <a href="https://github.com/SethBowman" target="_blank">Github</a> to see more projects by me.</p>
    <img src="https://media.istockphoto.com/id/854875652/video/shot-of-hands-holding-video-game-console-controlling-joystick.jpg?s=640x640&k=20&c=XpKdYQC7fsTF8f11Zy04kvaqF9DN5nD3Y8WjoIXTEHY=" style="border-radius:20px; box-shadow: 0 10px 10px 0 rgba(10, 11, 14, 0.6);" />
</div>
