@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Video Game App</h1>
    <p>Go to <a href="https://github.com/SethBowman">Github</a> to see more projects by me.</p>
</div>
