html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(159,203,244);
    background: linear-gradient(149deg, rgba(159,203,244,1) 0%, rgba(255,235,235,1) 25%, rgba(255,255,255,1) 59%, rgba(232,229,186,1) 80%);
}

table {
    border-radius: 10px;
    background-color: aliceblue;
    opacity: 95%;
}

a {
    text-decoration: none;
    color: deepskyblue;
}
a:hover {
    color: lightpink;
}

#anchors {
    color: deepskyblue;
}

footer {
    background-color: white;
}

h1, h2, table, ul, p, a, * {
    font-family: "Audiowide", sans-serif;
}
